body{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    width: 32%;

}

.card_1 {
}
.card_2 {
}
.card_3 {
}

.header {
    font-size: 28px;
}

.description {
    font-size: 18px;
    text-align: center;
    width: 78%;
    line-height: 30px;

}

.button {
    font-size: 18px;
    background-color: white;
    height: 150%;
    width: 100%;
border: solid 1px black;
}

